.projects_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}
.projects_container > h1{
    font-size: 132px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Grifter Bold';
    color: white;
}

.projects_cards_container{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}