.logo-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo_p1{
    font-size: 30px;
    font-weight: 900;
    padding-right: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: var(--font-1);
}
.logo_p2{
    font-size: 25px;
    font-weight: 600;
    padding-left: 5px;
    letter-spacing: 1px;
    font-family: 'SolidenTrial';
    color: var(--secondary-color);
}
