* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  min-height: 100vh;
  background-color: #232323;
  position: relative;
  padding: 20px 100px 0px;

}
.bg{
  height: 100%;
  width: 1440px;
  background-image: url("./Images/BG\ 1.png");
  background-repeat: repeat-y;
  opacity: 0.15;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.body_container{
  width: 1300px;
  min-height: 600px;
  padding: 20px 50px 20px;
  display: flex;
  flex-direction: column;
}
h6{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}
h6 > p {
  font-size: 100px;
    font-weight: bolder;
    font-family: 'Grifter Bold';
    color: white;
    text-align: center;

}

textarea:focus, input:focus{
  outline: none;
}

@font-face {
  font-family: 'Grifter Bold'; 
  src: url('../public/fonts/grifterbold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SolidenTrial'; 
  src:url('../public/fonts/SolidenTrial-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
