code {
  font-family: 'SolidenTrial',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #232323;
  --secondary-color: #FE8900;
  --font-1:'Grifter Bold';
  --font-2:'SolidenTrial';   
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Styling the scrollbar */
::-webkit-scrollbar-track {
  background: #848484; 
}
::-webkit-scrollbar-thumb {
  background: #3a3a3a; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@font-face {
  font-family: 'Grifter Bold'; 
  src: url('../public/fonts/grifterbold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SolidenTrial'; 
  src:url('../public/fonts/SolidenTrial-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}